$body-font-size: 1rem;

a {
	text-decoration: none;
}

body {
	font-size: $body-font-size;
	font-family: 'Open Sans', sans-serif;
}

* {
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}