$duration: 30s;
$ticker-caption-color: #f9fafa;
$ticker-item-font-size: 1.5rem;
$ticker-height: 2rem;
$ticker-item-min-width: 120px;
$ticker-bg-color: darken($navbar-bg-color, 10%);

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  height: $ticker-height;
  background-color: $ticker-bg-color; 
  padding-left: 100vw;  // offset items to begin 
  
}

.ticker-caption {
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  color: $ticker-caption-color;
  font-size: 11px;
  font-family: monospace;
  height: $ticker-height;
  background-color: $ticker-bg-color;
  padding: 5px;
  &:before {
    content: "";    
    background: -moz-linear-gradient(left, rgba($ticker-bg-color,0.65) 0%, rgba($ticker-bg-color,0) 100%);
    background: -webkit-linear-gradient(left, rgba($ticker-bg-color,0.65) 0%,rgba($ticker-bg-color,0) 100%);
    background: linear-gradient(to right, rgba($ticker-bg-color,0.65) 0%,rgba($ticker-bg-color,0) 100%);    
    width: 10px;
    height: 2rem;
    position: absolute;
    right: -10px;
    top: 0;
  }
}

.ticker {
    
  display: inline-block;
  height: $ticker-height;
  line-height: $ticker-height;  
  white-space: nowrap; // display items in a line
  padding-right: 100vw; // ensure items go before animations repeat (taken from parent due to inline-block)

  -webkit-animation-iteration-count: infinite; 
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
 -webkit-animation-name: ticker;
         animation-name: ticker;
  -webkit-animation-duration: $duration;
          animation-duration: $duration;
  &:hover {    
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
  }
  &-item {
    
    display: inline-block;
    min-width: $ticker-item-min-width;
    padding: 0 2rem;
    font-size: $ticker-item-font-size;  
    font-family: monospace;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #3fb1b2;
      }
    }
  }  
}

.has-ticker {
  margin-top: $ticker-height;
}